<div>
  <!-- Do what you want here, obviously. Just the yield and the action helper are important to keep.-->
  <div>
    <h2>{{view.name}}</h2>
    <a {{action 'close' target='view'}} href >X</a>
  </div>
  {{yield}}
</div>